
.details__container{
    max-width: 264px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 105px;
}
.details__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.details__item{
    box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
    border-radius: 9px;
    padding-top: 170px;
}
.details__item:last-child{
    padding-top: 180px;
}
.details__item--material{
    background-image: url(/src/images/pictures/main/material.jpg);
    background-repeat: no-repeat;
}
.details__item--differences{
    background-image:url(/src/images/pictures/main/differences.jpg);
    background-repeat: no-repeat;
}
.details__item--color{
    background-image:url(/src/images/pictures/main/colors.jpg);
    background-repeat: no-repeat;
}
.details__item-block{
    padding: 0 25px 22px 17px;
}
.details__headline{
    font-family: 'Roboto-bold', serif;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.details__description{
    color: $second;
    font-family: 'Roboto-light', serif;
    font-size: 14px;
    line-height: 16px;
}