.footer__container{
    text-align: center;
    padding-top: 61px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
.footer__contacts{
    font-family: 'Roboto-bold',serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer__phones{
    margin-bottom: 20px;
}
.footer__number{
    display: block;
    font-size: 14px;
    line-height: 10px;
    color: $second;
}
.footer__number:first-child{
    margin-bottom: 10px;
}
.footer__social{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto-bold',serif;
    position: relative;
    margin-bottom: 20px;
}
.footer__instagram{
    content:url(/src/images/icons/main/instagram.svg);
    margin-bottom: 10px;
}
.footer__about-use{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: 'Roboto-bold',serif;
    margin-bottom: 10px;
}
.footer__description{
    font-family: 'Roboto-light',serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}
.footer__city{
    font-family: 'Roboto-light',serif;
    font-size: 14px;
    line-height: 16px;
}