.header{
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    color: $three;
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.header__contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}
.header__phone{
    color: $three;
    font-family: 'Roboto-medium', serif;
    font-size: 14px;
    line-height: 10px;
}

.header__city{
    margin-bottom: 23px;
    font-family: 'Roboto-light', serif;
    font-size: 17px;
    line-height: 16px;
}